// Example theme
//
// Edit these styles to adjust the look and feel of your site


$blue: #0096cc;
$light-gray: #eee;
$mid-gray: #777;
$dark-gray: #333;

$red: #f52;
$green: #0f6;
$orange: #fc2;
$maroon: #85144B;


.white { color: #fff; }
.white:hover { color: #fff;  }
.blue { color: $blue; }
.light-gray { color: $light-gray; }
.mid-gray { color: $mid-gray; }
.dark-gray { color: $dark-gray; }

.red { color: $red; }
.green { color: $green; }
.orange { color: $orange; }

.bg-white { background-color: #fff; }
.bg-blue { background-color: $blue; }
.bg-light-gray { background-color: $light-gray; }
.bg-mid-gray { background-color: $mid-gray; }
.bg-dark-gray { background-color: $dark-gray; }
.bg-black { background-color: #333; }

.bg-red { background-color: $red; }
.bg-green { background-color: $green; }
.bg-orange { background-color: $orange; }


// Base theme styles

body {
  color: $dark-gray;
  background-color: #fff;
}

a {
  color: $maroon;
  text-decoration: none;
  &:hover {
    color: darken($maroon, 10%);
  }
}


// Buttons

.button {
  border-radius: .25rem;
  transition-duration: .2s;
  transition-timing-function: ease;
  transition-property: box-shadow , background-color;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 1px 4px rgba($blue, .5);
  }
}

.button-blue {
  color: #fff;
  background-color: $blue;
  &:hover {
    color: #fff;
    background-color: darken($blue, 20%);
  }
}

.button-gray {
  color: #fff;
  background-color: $mid-gray;
  &:hover {
    color: #fff;
    background-color: darken($mid-gray, 20%);
  }
  &:focus {}
}


// Forms

.form-light {
  .input,
  .textarea,
  .select {
    transition: box-shadow .2s ease;
    border-color: $mid-gray;
    &:focus {
      outline: none;
      border-color: $blue;
      box-shadow: 0 0 .125rem rgba($blue,.5);
    }
  }
  .radio input,
  .checkbox input {
    transition: box-shadow .2s ease;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #fff, 0 0 1px 4px rgba($blue, .5);
    }
  }
  .radio input {
    border-radius: 50%;
  }
}


// Borders

.border {
  border-style: solid;
  border-width: 1px;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
}

.border-light-gray {
  border-color: $light-gray;
}

.hr {
  border: 0;
  border-bottom: 0.125em solid $light-gray;
  width: 2.5rem;
}

// Utilities
.rounded { border-radius: .25rem; }
.transition-all { transition: all .2s ease; }
.circle { border-radius: 50%; }

.bg-center { background-position: center center; }

.bg-darken { background-color: rgba(0,0,0, 0.4); }
.bg-darken:hover { background-color: rgba(0,0,0, 0.6); }

.break-word {word-wrap:break-word;}

.list-simple {
  padding: 1rem;

  label {
    font-weight: bold;
    display: block;
    color: $dark-gray;
  }

  li {
    list-style-type: none;
    margin-bottom: 1rem;
  }
}

.coffee-header {
  background-size: cover;
  background-position: center center;
  padding: 50vh 2.25rem 0;
  margin-bottom: 2.25rem;

  .block-headline {
    display: inline-block;
    margin-left: -2.25rem;
    background: #fff;
    padding: 2.25rem 2.25rem 0;
  }

  .h1 {
    font-size: 6rem;
    line-height: 1;
  }

  @media screen and (max-width: 48em) {
    background-image: none !important;
    padding: 0 1rem;

    .block-headline {
      display: block;
    }
  }
}

.sans-serif {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-style: normal;
  font-weight: 400;
}

.dropcap:first-child:first-letter {
  float: left;
  font-size: 3.375rem;
  line-height: 1;
  margin-right: 0.5rem;
}

.caps {
  letter-spacing: .0625em;
}

.prose {
  p {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 2rem;

    @media screen and (max-width: 48em) {
      font-size: 1rem;
      line-height: 1.25;
    }
  }

   .first {
    font-size: 1.35rem;
    margin: 3rem 0;

    @media screen and (max-width: 48em) {
      font-size: 1.125rem;
      line-height: 1.4;
    }

  }

  img {
    max-width: 100%;
    margin-bottom: 2rem;
    border: 1px solid $border-gray;
  }

  h1, h2, h3, p, li {
    @media screen and (max-width: 48em) {
      padding-right: 1rem;
      padding-left: 1rem;
    }

  }
}

.container {
  max-width: 60rem;
}

.coffee-square {
  display: table;
  height: 25vw;
  width: 25%;
  position: relative;

  @media screen and (max-width: 48em) {
    display: block;
    width: 100%;
    height: auto;

    h2 {
      padding: 2rem 0;
    }
  }

  &:hover .coffee-bg {
    opacity: .4;
  }
}

.coffee-bg {
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .6;
  transition: opacity .33s ease-in-out;
}


.shops-index {
  background-color: #111;
}

.small {
  font-size: 0.875rem;
}

.pull-down {
  position: relative;
  margin-bottom: -1rem;
}

