---
title: Austin Coffee Guide
---

<header class="mt4">
  <section class="pt4">
    <hgroup class="measure-wide wrap px2 center">
      <h1 class="h1 caps regular sans-serif m0">
        <%= link_to "Dripstr", "/", alt: 'Dripstr', class: "dark-gray" %>
      </h1>
      <h2 class="h3 mid-gray regular sans-serif caps mb2">
        Austin coffee guide for lovers
      </h2>
    </hgroup>
  </section>
</header>

<article class="clearfix center measure-wide py2 wrap">
  <% 23.times do %>
    <% data.coffee.austin.each do |shop| %>
      <section class="sans-serif bg-dark-gray mobile-block bg-dark-gray white cover quarter-width left quarter-height table-parent bg-center" style="background-image: url(<%= shop.cover_image %>);">
        <% link_to("shop", class: "transition-all hover-bg-black-sixty hover-white white quarter-height px2 table-child middle-align bg-black-forty") do %>
          <h2 class="h2 regular m0 caps">
            <%= shop.name %>
          </h2>
        <% end %>
      </section>
    <% end %>
  <% end %>
</article>
